<!DOCTYPE html>
<html lang="hu" xmlns="http://www.w3.org/1999/xhtml">
<body>
    <div>
        {% if data %}
            <b>{{ data.email }}:</b>
        {% else %}
            <b>Vendég:</b>
        {% endif %}
        <a href="{{ url_for('home') }}">Kezdőoldal</a>


        {% if not data %}
            {% if page != "login" %}
                <a href="{{ url_for('login') }}">Bejelentkezés</a>
            {% endif %}
            {% if page != "registrate" %}
                <a href="{{ url_for('registrate') }}">Regisztráció</a>
            {% endif %}
        {% endif %}


        {% if data %}
            {% if page != "showticket" %}
                <a href="{{ url_for('showticket') }}">Jegyek</a>
            {% endif %}
            {% if page != "profile" %}
                <a href="{{ url_for('profile') }}">Profil</a>
            {% endif %}
            <a href="{{ url_for('logout') }}">Kijelentkezés</a>


            {% if 1 in roles %}
                <a href="{{ url_for('movieadd') }}">Filmek hozzáadása</a>
            {% endif %}
        {% endif %}
    </div>
    
    <hr>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    <hr>
    {% endwith %}
    
    {% block content %}
    {% endblock %}
</body>
</html>
