/* BEGIN EXTERNAL SOURCE */
span {
color:red
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
span {
color:red
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
span {
color:red
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
span {
color:red
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
span {
color:red
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
span {
color:red
}
/* END EXTERNAL SOURCE */
