{% extends "base.html" %}

{% block content %}
<h1>Filmek listája</h1>

  {% if movies %}
<table border="1px">
    <thead>
        <tr>
            <th>Cím</th>
            <th>Hossz (perc)</th>
            <th>Műfaj</th>
            <th>Korhatár</th>
            <th>Leírás</th>
        </tr>
    </thead>
    <tbody>
        {% for m in movies %}
        <tr >
            <td  rowspan="2">{{ m.title }}</td>
            <td>{{ m.duration }}</td>
            <td>{{ m.genre }}</td>
            <td>{{ m.age_limit }}</td>
            <td>{{ m.description }}</td>
            <tr>
            {% for s in m["screenings"] %}
            <td>{{ s.start_time }}</td>
            <td>{{s.theater.theatname}}</td>
            {% endfor %}
            </tr>
        </tr>
        {% endfor %}
    </tbody>
</table>
  {% else %}
<p>Nincsenek megjeleníthető filmek.</p>
  {% endif %}
{% endblock %}
