{% extends "base.html" %}
{% block title %}Jegyvásárlás{% endblock %}

{% block content %}
<div>
    <h1>Jegyvásárlás</h1>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag()}}
        <p>
            {{ form.seat_selection.label }}<br>
            {{ form.seat_selection }}<br>
            {% for error in form.seat_selection.errors %}
            <span style="color:red">[ {{error}} ]</span><br />
            {% endfor %}
        </p>

        <p>
            {{form.ticket_category.label}} <br />
            {{form.ticket_category}} <br />
            {% for error in form.ticket_category.errors %}
            <span style="color:red">[ {{error}} ]</span><br />
            {% endfor %}
        </p>


        <p>
            {{form.email.label}} <br />
            {% if data %}
            {{form.email(readonly=True)}} <br />
            {% else %}
            {{ form.email() }} <br />
            {% endif %}
            {% for error in form.email.errors %}
            <span style="color:red">[ {{error}} ]</span><br />
            {% endfor %}
        </p>

        <p>
            {% if data %}
            <div style="display:none;">
                {{ form.phone_number(readonly=True) }} <br />
            </div>
            {% else %}
                {{ form.phone_number.label }}<br />
                {{ form.phone_number() }} <br />
            {% endif %}
            {% for error in form.phone_number.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </p>

        <p>
            {{form.submit}}
        </p>
    </form>
   
</div>
{% endblock %}
