{% extends "base.html" %}

{% block content %}
<div>
    <h1>Jegy érvényesítése</h1>

    <form method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.ticket_id.label() }}
            {{ form.ticket_id(class="form-control", value=form.ticket_id.data or '') }}
            {% for error in form.ticket_id.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        {{form.submit}}
    </form>
</div>
{% endblock %}